nav.navbar.navbar-default.navbar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href="#") NCYU Maker
  .nav.navbar-nav.navbar-right
   li
    a(href="#section_ask") INTRO
   li
    a(href="#section_about") ABOUT
   li
    a(href="#section_video") VIDEO
    
header.jumbotron
 .container
  h1 馬來西亞
  hr
  h4 旅遊聖地
section#section_ask
 .container
  .row
    .col-sm-5.img
    .col-sm-7
      h2 介紹馬來西亞旅遊景點
section#section_about
 .container
  .row
    .col-sm-4
     img(src="http://holidayhouseboys.com/wp-content/uploads/2012/01/Kuala-Lumpur.jpg", alt="")
     h3 吉隆坡
     p 吉隆坡有花園城市的美稱，綠意盎然的都市美景並未受到迅速成長的基礎建設影響，都市隨處可見綠茵扶疏的花園綠地。

    .col-sm-4
     img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2MZEC-ZNbb80jvQwoCIG9DxtDJ9SUG2cYzsm1urOBvaWUtgmy", alt="")
     h3 檳城
     p 檳城美食被當地居民稱為”馬來西亞最美味的佳餚”，關仔角 (Gurney Drive) 的露天夜市更是旅客體驗當地美食必到之處。檳城和馬六甲也是品嚐娘惹料理(融合中華及馬來式的烹飪)的最佳地點。
    .col-sm-4
     img(src="https://www.touropia.com/gfx/d/attractions-in-melaka/a_famosa.jpg?v=1", alt="")
     h3 馬六甲
     p 走入馬六甲市中心的任何一條小巷，不難發現許多古老建築物、傳統買賣以及手工藝品，古色古香的氛圍，成為馬來西亞最多遊客到訪的旅遊據點。這裡的建築設計充分展現出葡萄牙、荷蘭以及英國的殖民影響，現在就跟我們一起漫步市中心盡情遊覽古都風光。
 section#section_video
  .container
   .row
    .col-sm-12
     h1 旅遊宣傳影片/VIDEO
     hr
    .col-sm-12
     .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(iframe width="800" height="589" src='https://www.youtube.com/embed/xl3QM22kWV0', allowfullscreen='')
